@charset "UTF-8";
/*!
 * WP Custom Cursors | WordPress Cursor Plugin
 * Author: Web_Trendy
 * Copyright 2020 - 2022 © Web_Trendy (https://codecanyon.net/user/web_trendy)
 * License: Envato (CodeCanyon) Licence
 * License URI: http://codecanyon.net/legal/licence
 *
 * "Open your hands if you want to be held." -Rumi
 *
 */
 /*------------------------------------------------------------------
[Table of contents]

1.0 Variables
2.0 General Styles
3.0 Cursor Styles 
4.0 Animations
4.0 Media Queries
-------------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Variables
--------------------------------------------------------------*/
body.iframe-hover .wpcc-cursor {
  display: none; }

/*--------------------------------------------------------------
2.0 General Styles
--------------------------------------------------------------*/
.no-transition .cursor-el1, .no-transition .cursor-el2 {
  -webkit-transition: none !important;
  transition: none !important; }

.no-cursor {
  cursor: none; }
  .no-cursor a {
    cursor: none; }

.default-cursor {
  cursor: default; }

.wpcc-cursor {
  --top: 0;
  --left: 0;
  --cursor-width: 30px;
  --img-width: 30px;
  --color: #000000;
  --blending-mode: normal;
  --default-cursor-normal: 'initial';
  --default-cursor-link: 'pointer';
  --click-point-x: -50%;
  --click-point-y: -50%; }
  .wpcc-cursor:not(.active) {
    display: none; }
  .wpcc-cursor div {
    position: fixed !important;
    pointer-events: none;
    z-index: 99999999999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    mix-blend-mode: var(--blending-mode); }

/*--------------------------------------------------------------
3.0 Cusror Styles
--------------------------------------------------------------*/
/*Image Cursor*/
.cursor-image .cursor-el1 {
  width: auto;
  height: auto;
  top: 0;
  left: 0; }
  .cursor-image .cursor-el1 img {
    display: block;
    width: var(--cursor-width) !important;
    top: 0;
    left: 0;
    height: auto !important;
    -o-object-fit: contain !important;
       object-fit: contain !important;
    -webkit-transform: translate(var(--click-point-x), var(--click-point-y));
            transform: translate(var(--click-point-x), var(--click-point-y)); }
.cursor-image .cursor-el2 {
  display: none; }

/*Text Cursor*/
.cursor-text .cursor-el1 {
  width: auto;
  height: auto;
  top: 0;
  left: 0; }
  .cursor-text .cursor-el1 svg {
    width: var(--cursor-width) !important;
    margin-top: -50%;
    margin-left: -50%;
    -webkit-animation: 10000ms spin infinite;
            animation: 10000ms spin infinite;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear; }
  .cursor-text .cursor-el1 text {
    text-transform: uppercase;
    word-spacing: 32px;
    font-weight: bold;
    fill: var(--color); }
.cursor-text .cursor-el2 {
  display: none; }

/*Cursor 1*/
.cursor-1 .cursor-el1 {
  width: var(--cursor-width);
  height: var(--cursor-width);
  border: 1px solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-2);
  left: calc(var(--cursor-width)/-2);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
.cursor-1 .cursor-el2 {
  width: 0px;
  height:0px;
  border-radius: 50%;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-10);
  left: calc(var(--cursor-width)/-10);
  -webkit-animation: c1-anim-reverse 200ms ease-out;
          animation: c1-anim-reverse 200ms ease-out; }
.cursor-1.link-hover .cursor-el1 { -webkit-animation: c1-anim 200ms ease-out;
  animation: c1-anim 200ms ease-out;
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  opacity: 0; }
.cursor-1.link-hover .cursor-el2 {
  -webkit-animation: c1-anim 200ms ease-out;
          animation: c1-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-1.input-hover {
  display: none; }

/*Cursor 2*/
.cursor-2 .cursor-el2 {
  width: calc(var(--cursor-width)/5);
  height: calc(var(--cursor-width)/5);
  border-radius: 50%;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-10);
  left: calc(var(--cursor-width)/-10);
  -webkit-animation: c6-anim-reverse 200ms ease-out;
          animation: c6-anim-reverse 200ms ease-out; }
.cursor-2.link-hover .cursor-el2 {
  -webkit-animation: c6-anim 200ms ease-out;
          animation: c6-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-2.input-hover {
  display: none; }

/*Cursor 3*/
.cursor-3 .cursor-el1 {
  width: var(--cursor-width);
  height: var(--cursor-width);
  background-color: var(--color);
  opacity: 0.5;
  border-radius: 50%;
  top: calc(var(--cursor-width)/-2);
  left: calc(var(--cursor-width)/-2);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
.cursor-3 .cursor-el2 {
  width: calc(var(--cursor-width)/5);
  height: calc(var(--cursor-width)/5);
  border-radius: 50%;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-10);
  left: calc(var(--cursor-width)/-10);
  -webkit-animation: c1-anim-reverse 200ms ease-out;
          animation: c1-anim-reverse 200ms ease-out; }
.cursor-3.link-hover .cursor-el1 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  opacity: 0; }
.cursor-3.link-hover .cursor-el2 {
  -webkit-animation: c1-anim 200ms ease-out;
          animation: c1-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-3.input-hover {
  display: none; }

/*Cursor 4*/
.cursor-4 .cursor-el1 {
  width: calc(var(--cursor-width)/5);
  height: calc(var(--cursor-width)/5);
  border-radius: 50%;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-10);
  left: calc(var(--cursor-width)/-10);
  -webkit-animation: c6-anim-reverse 200ms ease-out;
          animation: c6-anim-reverse 200ms ease-out; }
.cursor-4 .cursor-el2 {
  width: calc(var(--cursor-width)/5);
  height: calc(var(--cursor-width)/5);
  border-radius: 50%;
  opacity: 0.7;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-10);
  left: calc(var(--cursor-width)/-10);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  /*animation: c6-anim-reverse $transitionDuration*2 $transitionTiming;*/ }
.cursor-4.link-hover .cursor-el1 {
  -webkit-animation: c6-anim 200ms ease-out;
          animation: c6-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-4.input-hover {
  display: none; }

/*Cursor 5*/
.cursor-5 .cursor-el1 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: 1px solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
   
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;}
.cursor-5 .cursor-el2 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: 1px solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  opacity: 0;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
.cursor-5  .cursor-el1 {
  -webkit-animation: c5-anim 200ms ease-out;
          animation: c5-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-5.link-hover .cursor-el2 {
  opacity: 0; }
.cursor-5.input-hover {
  display: none; }

/*Cursor 6*/
.cursor-6 .cursor-el1 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: calc(var(--cursor-width)/25) solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  -webkit-animation: c6-anim-reverse 200ms ease-out;
          animation: c6-anim-reverse 200ms ease-out; }
.cursor-6 .cursor-el2 {
  width: calc(var(--cursor-width)/3);
  height: calc(var(--cursor-width)/3);
  border-radius: 50%;
  background-color: var(--color);
  top: calc(var(--cursor-width)/-6);
  left: calc(var(--cursor-width)/-6); }
.cursor-6.link-hover .cursor-el1 {
  -webkit-animation: c6-anim 200ms ease-out;
          animation: c6-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-6.input-hover {
  display: none; }

/*Cursor 7*/
.cursor-7 .cursor-el1 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: 1px solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
   
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;}
.cursor-7 .cursor-el2 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: 5px solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  opacity: 0;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
.cursor-7.link-hover .cursor-el1 {
  -webkit-animation: c5-anim 200ms ease-out;
          animation: c5-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-7.link-hover .cursor-el2 {
  opacity: 0; }
.cursor-7.input-hover {
  display: none; }

/*Cursor 8*/
.cursor-8 .cursor-el1 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  border: calc(var(--cursor-width)/15) solid var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  -webkit-animation: c5-anim-reverse 200ms ease-out;
          animation: c5-anim-reverse 200ms ease-out; }
.cursor-8 .cursor-el2 {
  width: calc(var(--cursor-width)/1.5);
  height: calc(var(--cursor-width)/1.5);
  background-color: var(--color);
  border-radius: 50%;
  top: calc(var(--cursor-width)/-3);
  left: calc(var(--cursor-width)/-3);
  opacity: 0.5;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out; }
.cursor-8.link-hover .cursor-el1 {
  -webkit-animation: c5-anim 200ms ease-out;
          animation: c5-anim 200ms ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
.cursor-8.link-hover .cursor-el2 {
  opacity: 0; }
.cursor-8.input-hover {
  display: none; }

/*--------------------------------------------------------------
4.0 Animations
--------------------------------------------------------------*/
@-webkit-keyframes c1-anim {
  to {
    width: calc(var(--cursor-width)/1.1);
    height: calc(var(--cursor-width)/1.1);
    top: calc(var(--cursor-width)/-2.2);
    left: calc(var(--cursor-width)/-2.2);
    opacity: 0.3; } }
@keyframes c1-anim {
  to {
    width: calc(var(--cursor-width)/1.1);
    height: calc(var(--cursor-width)/1.1);
    top: calc(var(--cursor-width)/-2.2);
    left: calc(var(--cursor-width)/-2.2);
    opacity: 0.3; } }
@-webkit-keyframes c1-anim-reverse {
  from {
    width: calc(var(--cursor-width)/1.1);
    height: calc(var(--cursor-width)/1.1);
    top: calc(var(--cursor-width)/-2.2);
    left: calc(var(--cursor-width)/-2.2);
    opacity: 0.3; }
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10); } }
@keyframes c1-anim-reverse {
  from {
    width: calc(var(--cursor-width)/1.1);
    height: calc(var(--cursor-width)/1.1);
    top: calc(var(--cursor-width)/-2.2);
    left: calc(var(--cursor-width)/-2.2);
    opacity: 0.3; }
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10); } }
@-webkit-keyframes c4-anim {
  to {
    width: calc(var(--cursor-width)/1.5);
    height: calc(var(--cursor-width)/1.5);
    top: calc(var(--cursor-width)/-3);
    left: calc(var(--cursor-width)/-3);
    background-color: var(--color);
    opacity: 0.3; } }
@keyframes c4-anim {
  to {
    width: calc(var(--cursor-width)/1.5);
    height: calc(var(--cursor-width)/1.5);
    top: calc(var(--cursor-width)/-3);
    left: calc(var(--cursor-width)/-3);
    background-color: var(--color);
    opacity: 0.3; } }
@-webkit-keyframes c4-anim-reverse {
  from {
    width: calc(var(--cursor-width)/1.5);
    height: calc(var(--cursor-width)/1.5);
    top: calc(var(--cursor-width)/-3);
    left: calc(var(--cursor-width)/-3);
    background-color: var(--color);
    opacity: 0.3; }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2);
    background-color: transparent;
    opacity: 1; } }
@keyframes c4-anim-reverse {
  from {
    width: calc(var(--cursor-width)/1.5);
    height: calc(var(--cursor-width)/1.5);
    top: calc(var(--cursor-width)/-3);
    left: calc(var(--cursor-width)/-3);
    background-color: var(--color);
    opacity: 0.3; }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2);
    background-color: transparent;
    opacity: 1; } }
@-webkit-keyframes c5-anim {
  50% {
    width: calc(var(--cursor-width)/2.5);
    height: calc(var(--cursor-width)/2.5);
    top: calc(var(--cursor-width)/-5);
    left: calc(var(--cursor-width)/-5);
    background-color: var(--color); }
  100% {
    width: calc(var(--cursor-width)/0.5);
    height: calc(var(--cursor-width)/0.5);
    top: calc(var(--cursor-width)/-1);
    left: calc(var(--cursor-width)/-1);
    background-color: var(--color);
    opacity: 0.3; } }
@keyframes c5-anim {
  50% {
    width: calc(var(--cursor-width)/2.5);
    height: calc(var(--cursor-width)/2.5);
    top: calc(var(--cursor-width)/-5);
    left: calc(var(--cursor-width)/-5);
    background-color: var(--color); }
  100% {
    width: calc(var(--cursor-width)/0.5);
    height: calc(var(--cursor-width)/0.5);
    top: calc(var(--cursor-width)/-1);
    left: calc(var(--cursor-width)/-1);
    background-color: var(--color);
    opacity: 0.3; } }
@-webkit-keyframes c5-anim-reverse {
  from {
    width: calc(var(--cursor-width)/0.5);
    height: calc(var(--cursor-width)/0.5);
    top: calc(var(--cursor-width)/-1);
    left: calc(var(--cursor-width)/-1);
    background-color: var(--color);
    opacity: 0.3; }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2); } }
@keyframes c5-anim-reverse {
  from {
    width: calc(var(--cursor-width)/0.5);
    height: calc(var(--cursor-width)/0.5);
    top: calc(var(--cursor-width)/-1);
    left: calc(var(--cursor-width)/-1);
    background-color: var(--color);
    opacity: 0.3; }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2); } }
@-webkit-keyframes c6-anim {
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10);
    border-width: calc(var(--cursor-width)/15); } }
@keyframes c6-anim {
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10);
    border-width: calc(var(--cursor-width)/15); } }
@-webkit-keyframes c6-anim-reverse {
  from {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10);
    border-width: calc(var(--cursor-width)/15); }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    border: calc(var(--cursor-width)/25) solid var(--color);
    border-radius: 50%;
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2); } }
@keyframes c6-anim-reverse {
  from {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10);
    border-width: calc(var(--cursor-width)/15); }
  to {
    width: var(--cursor-width);
    height: var(--cursor-width);
    border: calc(var(--cursor-width)/25) solid var(--color);
    border-radius: 50%;
    top: calc(var(--cursor-width)/-2);
    left: calc(var(--cursor-width)/-2); } }
@-webkit-keyframes c-scale {
  to {
    width: calc(var(--cursor-width)*3);
    height: calc(var(--cursor-width)*3);
    top: calc(var(--cursor-width)*-1.5);
    left: calc(var(--cursor-width)*-1.5);
    opacity: 1; } }
@keyframes c-scale {
  to {
    width: calc(var(--cursor-width)*3);
    height: calc(var(--cursor-width)*3);
    top: calc(var(--cursor-width)*-1.5);
    left: calc(var(--cursor-width)*-1.5);
    opacity: 1; } }
@-webkit-keyframes c-scale-reverse {
  from {
    width: calc(var(--cursor-width)*3);
    height: calc(var(--cursor-width)*3);
    top: calc(var(--cursor-width)*-1.5);
    left: calc(var(--cursor-width)*-1.5);
    opacity: 1; }
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10); } }
@keyframes c-scale-reverse {
  from {
    width: calc(var(--cursor-width)*3);
    height: calc(var(--cursor-width)*3);
    top: calc(var(--cursor-width)*-1.5);
    left: calc(var(--cursor-width)*-1.5);
    opacity: 1; }
  to {
    width: calc(var(--cursor-width)/5);
    height: calc(var(--cursor-width)/5);
    top: calc(var(--cursor-width)/-10);
    left: calc(var(--cursor-width)/-10); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  to {
    -webkit-transform: rotate(0);
            transform: rotate(0); } }
/*--------------------------------------------------------------
5.0 Media Queries
--------------------------------------------------------------*/
/* Mobile ---------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .wpcc-cursor.hide-mobile {
    display: none;
    opacity: 0;
    visibility: hidden; } }
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wpcc-cursor.hide-tablet {
    display: none;
    opacity: 0;
    visibility: hidden; } }
/*--------------------------------------------------------------
2.0 Hover Cursor Styles
--------------------------------------------------------------*/
.hover-cursor {
  --hc-bgcolor: #ff3c38;
  --hc-width: 50px;
  pointer-events: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--hc-bgcolor);
  width: calc( var(--hc-width) / 2 );
  height: calc( var(--hc-width) / 2 );
  border-radius: 50%;
  position: fixed !important;
  pointer-events: none;
  z-index: 99999999999;
  top: calc( var(--hc-width) * -0.25);
  left: calc( var(--hc-width) * -0.25);
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out; }
  .hover-cursor:not(.hc-1) .hover-cursor-text {
    display: none; }
  .hover-cursor .hover-cursor-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; }
    .hover-cursor .hover-cursor-icon svg, .hover-cursor .hover-cursor-icon img {
      width: calc( var(--hc-width) / 3 ); }
  .hover-cursor .hover-cursor-text {
    font-size: calc( var(--hc-width) / 7 );
    line-height: 1;
    padding-top: 5px;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; }
  .hover-cursor.active {
    width: var(--hc-width);
    height: var(--hc-width);
    top: calc( var(--hc-width) * -0.5);
    left: calc( var(--hc-width) * -0.5);
    opacity: 1; }
    .hover-cursor.active .hover-cursor-icon {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1; }
    .hover-cursor.active .hover-cursor-text {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1; }
  .hover-cursor.hc-1 .hover-cursor-icon {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
    .hover-cursor.hc-1 .hover-cursor-icon svg, .hover-cursor.hc-1 .hover-cursor-icon img {
      width: calc( var(--hc-width) / 4 ); }
  .hover-cursor.hc-1.active .hover-cursor-icon {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

/* :) Let's meke internet BEAUTIFUL*/
/*
 _       __     __       ______                    __
| |     / /__  / /_     /_  __/_______  ____  ____/ /_  __
| | /| / / _ \/ __ \     / / / ___/ _ \/ __ \/ __  / / / /
| |/ |/ /  __/ /_/ /    / / / /  /  __/ / / / /_/ / /_/ /
|__/|__/\___/_.___/    /_/ /_/   \___/_/ /_/\__,_/\__, /
                                                 /____/
*/

/*# sourceMappingURL=wp_custom_cursors_main_style.css.map */